<div>
    <div>
        <h2>{{title}}</h2>
        <strong>Descripción: </strong>{{description}}<br>
        <strong>Precio: </strong>$ {{price}}<br>
        <strong>Codigo: </strong>{{code}}<br>
        <strong>Stock: </strong>{{stock}}<br>
        <strong>Categoria: </strong>{{category}}
    </div>  
    <button> <a href="http://localhost:8080/api/views/products">Volver</a></button>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>