<div>
    <h2>Cat치golo:</h2>
    <div>
    {{#each payload}}
        <div>
            <li>
            <strong>Nombre del producto: </strong>{{title}}<br>
            <strong>Categoria: </strong>{{category}}<br>
            <strong>Precio: </strong>$ {{price}}<br>
            <button> <a href="http://localhost:8080/api/views/products/{{id}}">Ver detalle</a></button>
            <form 
                action="http://localhost:8080/api/carts/64fa99dae1819e773f991620/products/{{id}}" 
                method="post">
                <a href="http://localhost:8080/api/views/carts/64fa99dae1819e773f991620"></a>
                <input type="submit" value="Agregrar al carrito">
            </form>
            <br>
            <br>
            </li>
        </div>
    {{/each}}
    
    {{#if info.totalPages}}
    <p>P치gina {{info.page}} de {{info.totalPages}}</p>

    {{#if info.prevLink}}
        <a href={{info.prevLink}}>P치gina anterior</a>
    {{/if}}

    {{#if info.nextLink}}
        <a href={{info.nextLink}}>P치gina siguiente</a>
    {{/if}}
    
    {{/if}}

    </div>  
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>