<div>
    <h2>Cat치golo:</h2>
    <div>
    {{#each payload}}
        <div>
            <li>
            <strong>Nombre del producto: </strong>{{title}}<br>
            <strong>Descripcion: </strong>{{description}}<br>
            <strong>Categoria: </strong>{{category}}<br>
            <br>
            </li>
        </div>
    {{/each}}
    
    {{#if info.totalPages}}
    <p>P치gina {{info.page}} de {{info.totalPages}}</p>

    {{#if info.prevLink}}
        <a href={{info.prevLink}}>P치gina anterior</a>
    {{/if}}

    {{#if info.nextLink}}
        <a href={{info.nextLink}}>P치gina siguiente</a>
    {{/if}}
    
    {{/if}}

    </div>  
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>